body {
  background-color: bisque;
  text-decoration: none;
  margin: auto;
}

table {
  background-color: aliceblue;
}

th {
  background-color: aquamarine;
  margin: auto;
  padding: auto;
  color: brown;
}

tr {
  text-align: left;
}

td {
  text-align: left;
  margin: auto;
  padding: auto;
}

ul {
  list-style-type: circle;
}

ol {
  list-style: none;
}
